@layer theme {
  :root {
    /* -- Theme 1: Light */
    --text-default: var(--zinc-950);
    --text-subtle: var(--zinc-600);
    --text-muted: var(--zinc-500);
    --text-hint: var(--transparent-dark-30);
    --text-inverted-default: var(--zinc-00);
    --text-inverted-subtle: var(--transparent-light-70);
    --text-inverted-muted: var(--transparent-light-50);
    --text-inverted-hint: var(--transparent-light-30);
    --text-white-default: var(--zinc-00);
    --text-white-subtle: var(--transparent-light-70);
    --text-white-muted: var(--transparent-light-50);
    --text-white-hint: var(--transparent-light-30);
    --text-dark-default: var(--zinc-950);
    --text-dark-subtle: var(--zinc-600);
    --text-dark-muted: var(--zinc-500);
    --text-dark-hint: var(--transparent-dark-35);
    --text-destructive: var(--red-600);
    --text-success: var(--green-600);
    --text-warning: var(--orange-600);
    --text-informative: var(--blue-600);
    --bg-default: var(--zinc-00);
    --bg-subtle: var(--zinc-50);
    --bg-muted: var(--zinc-100);
    --bg-inverted: var(--zinc-900);
    --bg-card: var(--zinc-00);
    --bg-card-subtle: var(--zinc-50);
    --bg-card-inverted: var(--zinc-800);
    --bg-sidebar: var(--zinc-00);
    --bg-sidebar-subtle: var(--zinc-50);
    --bg-input: var(--zinc-00);
    --bg-input-soft: var(--transparent-dark-6);
    --bg-input-disabled: var(--transparent-dark-6);
    --bg-overlay: var(--transparent-dark-60);
    --bg-state-primary: var(--blue-500);
    --bg-state-primary-hover: var(--blue-400);
    --bg-state-primary-press: var(--blue-500);
    --bg-state-primary-loading: var(--blue-300);
    --bg-state-secondary: var(--zinc-00);
    --bg-state-secondary-hover: var(--zinc-50);
    --bg-state-secondary-press: var(--zinc-100);
    --bg-state-secondary-loading: var(--zinc-00);
    --bg-state-soft: var(--transparent-dark-6);
    --bg-state-soft-hover: var(--transparent-dark-8);
    --bg-state-soft-press: var(--transparent-dark-10);
    --bg-state-soft-loading: var(--transparent-dark-6);
    --bg-state-ghost: var(--transparent-dark-00);
    --bg-state-ghost-hover: var(--transparent-dark-6);
    --bg-state-ghost-press: var(--transparent-dark-8);
    --bg-state-ghost-loading: var(--transparent-dark-6);
    --bg-state-ghost-inverted: var(--transparent-light-00);
    --bg-state-ghost-hover-inverted: var(--transparent-light-8);
    --bg-state-ghost-press-inverted: var(--transparent-light-15);
    --bg-state-ghost-loading-inverted: var(--transparent-light-8);
    --bg-state-destructive: var(--red-500);
    --bg-state-destructive-hover: var(--red-400);
    --bg-state-destructive-press: var(--red-500);
    --bg-state-destructive-loading: var(--red-300);
    --bg-state-brand: var(--blue-500);
    --bg-state-brand-hover: var(--blue-400);
    --bg-state-brand-press: var(--blue-500);
    --bg-state-brand-loading: var(--blue-300);
    --bg-state-gray: var(--zinc-950);
    --bg-state-disabled: var(--transparent-dark-8);
    --icon-default: var(--zinc-950);
    --border-default: var(--transparent-dark-10);
    --border-darker: var(--transparent-dark-15);
    --border-strong: var(--transparent-dark-25);
    --border-inverted: var(--transparent-light-20);
    --border-accent: var(--zinc-950);
    --border-accent-inverted: var(--zinc-00);
    --border-destructive: var(--red-500);
    --border-informative: var(--blue-500);
    --border-success: var(--green-500);
    --border-warning: var(--orange-500);
    --border-highlight: var(--transparent-blue-40);
    --border-highlight-destructive: var(--transparent-red-40);
    --border-input-highlight: var(--transparent-dark-40);
    --border-white: var(--transparent-light-20);
    --border-red: var(--transparent-red-20);
    --border-orange: var(--transparent-orange-20);
    --border-amber: var(--transparent-amber-20);
    --border-yellow: var(--transparent-yellow-20);
    --border-lime: var(--transparent-lime-20);
    --border-green: var(--transparent-green-20);
    --border-emerald: var(--transparent-emerald-20);
    --border-teal: var(--transparent-teal-20);
    --border-cyan: var(--transparent-cyan-20);
    --border-sky: var(--transparent-sky-20);
    --border-blue: var(--transparent-blue-20);
    --border-indigo: var(--transparent-indigo-20);
    --border-violet: var(--transparent-violet-20);
    --border-purple: var(--transparent-purple-20);
    --border-fuchsia: var(--transparent-fuchsia-20);
    --border-pink: var(--transparent-pink-20);
    --border-rose: var(--transparent-rose-20);
    --icon-default-subtle: var(--zinc-600);
    --icon-default-muted: var(--zinc-500);
    --icon-default-disabled: var(--transparent-dark-25);
    --icon-inverted-default: var(--zinc-00);
    --icon-inverted-subtle: var(--transparent-light-65);
    --icon-inverted-muted: var(--transparent-light-50);
    --icon-inverted-disabled: var(--transparent-light-35);
    --icon-white-default: var(--zinc-00);
    --icon-white-subtle: var(--transparent-light-65);
    --icon-white-muted: var(--transparent-light-50);
    --icon-white-disabled: var(--transparent-light-35);
    --icon-black-default: var(--zinc-950);
    --icon-black-subtle: var(--zinc-600);
    --icon-black-muted: var(--zinc-500);
    --icon-black-disabled: var(--transparent-dark-35);
    --icon-destructive: var(--red-500);
    --icon-informative: var(--blue-500);
    --icon-success: var(--green-500);
    --icon-warning: var(--orange-500);
    --bg-checkbox-default: var(--zinc-00);
    --bg-switch-default: var(--zinc-200);
    --bg-badge-default: var(--zinc-00);
    --bg-badge-inverted: var(--zinc-950);
    --bg-badge-gray: var(--transparent-dark-6);
    --bg-badge-white: var(--transparent-light-10);
    --bg-badge-red: var(--transparent-red-10);
    --bg-badge-orange: var(--transparent-orange-10);
    --bg-badge-amber: var(--transparent-amber-10);
    --bg-badge-yellow: var(--transparent-yellow-10);
    --bg-badge-lime: var(--transparent-lime-10);
    --bg-badge-green: var(--transparent-green-10);
    --bg-badge-emerald: var(--transparent-emerald-10);
    --bg-badge-teal: var(--transparent-teal-10);
    --bg-badge-cyan: var(--transparent-cyan-10);
    --bg-badge-sky: var(--transparent-sky-10);
    --bg-badge-blue: var(--transparent-blue-10);
    --bg-badge-indigo: var(--transparent-indigo-10);
    --bg-badge-violet: var(--transparent-violet-10);
    --bg-badge-purple: var(--transparent-purple-10);
    --bg-badge-fuchsia: var(--transparent-fuchsia-10);
    --bg-badge-pink: var(--transparent-pink-10);
    --bg-badge-rose: var(--transparent-rose-10);
    --bg-basic-gray-subtle: var(--zinc-100);
    --bg-basic-gray-subtle2: var(--zinc-300);
    --bg-basic-gray-accent: var(--zinc-500);
    --bg-basic-gray-strong: var(--zinc-700);
    --bg-basic-gray-contrast: var(--zinc-900);
    --bg-basic-red-subtle: var(--red-100);
    --bg-basic-red-accent: var(--red-500);
    --bg-basic-red-strong: var(--red-700);
    --bg-basic-red-contrast: var(--red-900);
    --bg-basic-orange-subtle: var(--orange-100);
    --bg-basic-orange-accent: var(--orange-500);
    --bg-basic-orange-strong: var(--orange-700);
    --bg-basic-orange-contrast: var(--orange-900);
    --bg-basic-amber-subtle: var(--amber-100);
    --bg-basic-amber-accent: var(--amber-500);
    --bg-basic-amber-strong: var(--amber-700);
    --bg-basic-amber-contrast: var(--amber-900);
    --bg-basic-yellow-subtle: var(--yellow-100);
    --bg-basic-yellow-accent: var(--yellow-500);
    --bg-basic-yellow-strong: var(--yellow-700);
    --bg-basic-yellow-contrast: var(--yellow-900);
    --bg-basic-lime-subtle: var(--lime-100);
    --bg-basic-lime-accent: var(--lime-500);
    --bg-basic-lime-strong: var(--lime-700);
    --bg-basic-lime-contrast: var(--lime-900);
    --bg-basic-green-subtle: var(--green-100);
    --bg-basic-green-accent: var(--green-500);
    --bg-basic-green-strong: var(--green-700);
    --bg-basic-green-contrast: var(--green-900);
    --bg-basic-emerald-subtle: var(--emerald-100);
    --bg-basic-emerald-accent: var(--emerald-500);
    --bg-basic-emerald-strong: var(--emerald-700);
    --bg-basic-emerlad-contrast: var(--emerald-900);
    --bg-basic-teal-subtle: var(--teal-100);
    --bg-basic-teal-accent: var(--teal-500);
    --bg-basic-teal-strong: var(--teal-700);
    --bg-basic-teal-contrast: var(--teal-900);
    --bg-basic-cyan-subtle: var(--cyan-100);
    --bg-basic-cyan-accent: var(--cyan-500);
    --bg-basic-cyan-strong: var(--cyan-700);
    --bg-basic-cyan-contrast: var(--cyan-900);
    --bg-basic-sky-subtle: var(--sky-100);
    --bg-basic-sky-accent: var(--sky-500);
    --bg-basic-sky-strong: var(--sky-700);
    --bg-basic-sky-contrast: var(--sky-900);
    --bg-basic-blue-subtle: var(--blue-100);
    --bg-basic-blue-accent: var(--blue-500);
    --bg-basic-blue-strong: var(--blue-700);
    --bg-basic-blue-contrast: var(--blue-900);
    --bg-basic-indigo-subtle: var(--indigo-100);
    --bg-basic-indigo-accent: var(--indigo-500);
    --bg-basic-indigo-strong: var(--indigo-700);
    --bg-basic-indigo-contrast: var(--indigo-900);
    --bg-basic-violet-subtle: var(--violet-100);
    --bg-basic-violet-accent: var(--violet-500);
    --bg-basic-violet-strong: var(--violet-700);
    --bg-basic-violet-contrast: var(--violet-900);
    --bg-basic-purple-subtle: var(--purple-100);
    --bg-basic-purple-accent: var(--purple-500);
    --bg-basic-purple-strong: var(--purple-700);
    --bg-basic-purple-contrast: var(--purple-900);
    --bg-basic-fuchsia-subtle: var(--fuchsia-100);
    --bg-basic-fuchsia-accent: var(--fuchsia-500);
    --bg-basic-fuchsia-strong: var(--fuchsia-700);
    --bg-basic-fuchsia-contrast: var(--fuchsia-900);
    --bg-basic-pink-subtle: var(--pink-100);
    --bg-basic-pink-accent: var(--pink-500);
    --bg-basic-pink-strong: var(--pink-700);
    --bg-basic-pink-contrast: var(--pink-900);
    --bg-basic-rose-subtle: var(--rose-100);
    --bg-basic-rose-accent: var(--rose-500);
    --bg-basic-rose-strong: var(--rose-700);
    --bg-basic-rose-contrast: var(--rose-900);
    --bg-basic-gray-alpha-2: var(--transparent-dark-2);
    --bg-basic-gray-alpha-4: var(--transparent-dark-4);
    --bg-basic-gray-alpha-10: var(--transparent-dark-10);
    --bg-basic-gray-alpha-15: var(--transparent-dark-15);
    --bg-switch-default-hover: var(--zinc-300);
    --bg-switch-disabled: var(--zinc-100);
    --bg-switch-default2: var(--zinc-950);
    --bg-switch-active: var(--green-500);
    --bg-switch-active-hover: var(--green-600);
    --bg-switch-active-disabled: var(--green-200);
    --bg-switch-handle: var(--zinc-00);
    --bg-switch-handle-disabled: var(--zinc-50);
    --bg-checkbox-active: var(--blue-500);
    --bg-checkbox-active-hover: var(--blue-400);
    --bg-checkbox-disabled: var(--transparent-dark-6);

    /* Typography */
    --font-sans: "Inter", system-ui, sans-serif;
    --font-serif: "Georgia", serif;

    /* Spacing & Radius */
    --radius-sm: 0.25rem;
    --radius-md: 0.5rem;
    --radius-lg: 1rem;
  }

  @media (prefers-color-scheme: dark) {
    :root {
      /* Dark theme */

      --text-default: var(--zinc-00);
      --text-subtle: var(--transparent-light-70);
      --text-muted: var(--transparent-light-50);
      --text-hint: var(--transparent-light-30);
      --text-inverted-default: var(--zinc-950);
      --text-inverted-subtle: var(--zinc-600);
      --text-inverted-muted: var(--zinc-500);
      --text-inverted-hint: var(--transparent-dark-35);
      --text-white-default: var(--zinc-00);
      --text-white-subtle: var(--transparent-light-70);
      --text-white-muted: var(--transparent-light-50);
      --text-white-hint: var(--transparent-light-30);
      --text-dark-default: var(--zinc-950);
      --text-dark-subtle: var(--zinc-600);
      --text-dark-muted: var(--zinc-500);
      --text-dark-hint: var(--transparent-dark-35);
      --text-destructive: var(--red-400);
      --text-success: var(--green-400);
      --text-warning: var(--orange-400);
      --text-informative: var(--blue-400);
      --bg-default: var(--zinc-900);
      --bg-subtle: var(--zinc-950);
      --bg-muted: var(--zinc-1000);
      --bg-inverted: var(--zinc-00);
      --bg-card: var(--zinc-800);
      --bg-card-subtle: var(--zinc-700);
      --bg-card-inverted: var(--zinc-00);
      --bg-sidebar: var(--zinc-900);
      --bg-sidebar-subtle: var(--zinc-900);
      --bg-input: var(--transparent-light-6);
      --bg-input-soft: var(--transparent-light-8);
      --bg-input-disabled: var(--transparent-light-15);
      --bg-overlay: var(--transparent-dark-65);
      --bg-state-primary: var(--blue-600);
      --bg-state-primary-hover: var(--blue-500);
      --bg-state-primary-press: var(--blue-600);
      --bg-state-primary-loading: var(--blue-300);
      --bg-state-secondary: var(--transparent-light-4);
      --bg-state-secondary-hover: var(--transparent-light-8);
      --bg-state-secondary-press: var(--transparent-light-10);
      --bg-state-secondary-loading: var(--transparent-light-4);
      --bg-state-soft: var(--transparent-light-8);
      --bg-state-soft-hover: var(--transparent-light-10);
      --bg-state-soft-press: var(--transparent-light-15);
      --bg-state-soft-loading: var(--transparent-light-8);
      --bg-state-ghost: var(--transparent-light-00);
      --bg-state-ghost-hover: var(--transparent-light-8);
      --bg-state-ghost-press: var(--transparent-light-15);
      --bg-state-ghost-loading: var(--transparent-light-8);
      --bg-state-ghost-inverted: var(--transparent-dark-00);
      --bg-state-ghost-hover-inverted: var(--transparent-dark-4);
      --bg-state-ghost-press-inverted: var(--transparent-dark-8);
      --bg-state-ghost-loading-inverted: var(--transparent-dark-4);
      --bg-state-destructive: var(--red-500);
      --bg-state-destructive-hover: var(--red-400);
      --bg-state-destructive-press: var(--red-500);
      --bg-state-destructive-loading: var(--red-300);
      --bg-state-brand: var(--blue-500);
      --bg-state-brand-hover: var(--blue-400);
      --bg-state-brand-press: var(--blue-500);
      --bg-state-brand-loading: var(--blue-300);
      --bg-state-gray: var(--zinc-00);
      --bg-state-disabled: var(--transparent-light-8);
      --icon-default: var(--zinc-00);
      --border-default: var(--transparent-light-10);
      --border-darker: var(--transparent-light-15);
      --border-strong: var(--transparent-light-25);
      --border-inverted: var(--transparent-dark-10);
      --border-accent: var(--zinc-00);
      --border-accent-inverted: var(--zinc-950);
      --border-destructive: var(--red-400);
      --border-informative: var(--blue-400);
      --border-success: var(--green-400);
      --border-warning: var(--orange-400);
      --border-highlight: var(--transparent-blue-40);
      --border-highlight-destructive: var(--transparent-red-40);
      --border-input-highlight: var(--transparent-light-45);
      --border-white: var(--transparent-light-20);
      --border-red: var(--transparent-red-20);
      --border-orange: var(--transparent-orange-20);
      --border-amber: var(--transparent-amber-20);
      --border-yellow: var(--transparent-yellow-20);
      --border-lime: var(--transparent-lime-20);
      --border-green: var(--transparent-green-20);
      --border-emerald: var(--transparent-emerald-20);
      --border-teal: var(--transparent-teal-20);
      --border-cyan: var(--transparent-cyan-20);
      --border-sky: var(--transparent-sky-20);
      --border-blue: var(--transparent-blue-20);
      --border-indigo: var(--transparent-indigo-20);
      --border-violet: var(--transparent-violet-20);
      --border-purple: var(--transparent-purple-20);
      --border-fuchsia: var(--transparent-fuchsia-20);
      --border-pink: var(--transparent-pink-20);
      --border-rose: var(--transparent-rose-20);
      --icon-default-subtle: var(--transparent-light-70);
      --icon-default-muted: var(--transparent-light-50);
      --icon-default-disabled: var(--transparent-light-25);
      --icon-inverted-default: var(--zinc-950);
      --icon-inverted-subtle: var(--zinc-600);
      --icon-inverted-muted: var(--zinc-400);
      --icon-inverted-disabled: var(--transparent-dark-35);
      --icon-white-default: var(--zinc-00);
      --icon-white-subtle: var(--transparent-light-70);
      --icon-white-muted: var(--transparent-light-50);
      --icon-white-disabled: var(--transparent-light-40);
      --icon-black-default: var(--zinc-950);
      --icon-black-subtle: var(--zinc-600);
      --icon-black-muted: var(--zinc-500);
      --icon-black-disabled: var(--transparent-dark-35);
      --icon-destructive: var(--red-300);
      --icon-informative: var(--blue-300);
      --icon-success: var(--green-300);
      --icon-warning: var(--orange-300);
      --bg-checkbox-default: var(--transparent-light-6);
      --bg-switch-default: var(--zinc-600);
      --bg-badge-default: var(--transparent-light-10);
      --bg-badge-inverted: var(--zinc-00);
      --bg-badge-gray: var(--transparent-light-10);
      --bg-badge-white: var(--transparent-light-10);
      --bg-badge-red: var(--transparent-red-10);
      --bg-badge-orange: var(--transparent-orange-10);
      --bg-badge-amber: var(--transparent-amber-10);
      --bg-badge-yellow: var(--transparent-yellow-10);
      --bg-badge-lime: var(--transparent-lime-10);
      --bg-badge-green: var(--transparent-green-10);
      --bg-badge-emerald: var(--transparent-emerald-10);
      --bg-badge-teal: var(--transparent-teal-10);
      --bg-badge-cyan: var(--transparent-cyan-10);
      --bg-badge-sky: var(--transparent-sky-10);
      --bg-badge-blue: var(--transparent-blue-10);
      --bg-badge-indigo: var(--transparent-indigo-10);
      --bg-badge-violet: var(--transparent-violet-10);
      --bg-badge-purple: var(--transparent-purple-10);
      --bg-badge-fuchsia: var(--transparent-fuchsia-10);
      --bg-badge-pink: var(--transparent-pink-10);
      --bg-badge-rose: var(--transparent-rose-10);
      --bg-basic-gray-subtle: var(--zinc-900);
      --bg-basic-gray-subtle2: var(--zinc-700);
      --bg-basic-gray-accent: var(--zinc-500);
      --bg-basic-gray-strong: var(--zinc-400);
      --bg-basic-gray-contrast: var(--zinc-100);
      --bg-basic-red-subtle: var(--red-900);
      --bg-basic-red-accent: var(--red-500);
      --bg-basic-red-strong: var(--red-400);
      --bg-basic-red-contrast: var(--red-100);
      --bg-basic-orange-subtle: var(--orange-900);
      --bg-basic-orange-accent: var(--orange-500);
      --bg-basic-orange-strong: var(--orange-400);
      --bg-basic-orange-contrast: var(--orange-100);
      --bg-basic-amber-subtle: var(--amber-900);
      --bg-basic-amber-accent: var(--amber-500);
      --bg-basic-amber-strong: var(--amber-400);
      --bg-basic-amber-contrast: var(--amber-100);
      --bg-basic-yellow-subtle: var(--yellow-900);
      --bg-basic-yellow-accent: var(--yellow-500);
      --bg-basic-yellow-strong: var(--yellow-400);
      --bg-basic-yellow-contrast: var(--yellow-100);
      --bg-basic-lime-subtle: var(--lime-900);
      --bg-basic-lime-accent: var(--lime-500);
      --bg-basic-lime-strong: var(--lime-400);
      --bg-basic-lime-contrast: var(--lime-100);
      --bg-basic-green-subtle: var(--green-900);
      --bg-basic-green-accent: var(--green-500);
      --bg-basic-green-strong: var(--green-400);
      --bg-basic-green-contrast: var(--green-100);
      --bg-basic-emerald-subtle: var(--emerald-900);
      --bg-basic-emerald-accent: var(--emerald-500);
      --bg-basic-emerald-strong: var(--emerald-400);
      --bg-basic-emerlad-contrast: var(--emerald-100);
      --bg-basic-teal-subtle: var(--teal-900);
      --bg-basic-teal-accent: var(--teal-500);
      --bg-basic-teal-strong: var(--teal-400);
      --bg-basic-teal-contrast: var(--teal-100);
      --bg-basic-cyan-subtle: var(--cyan-900);
      --bg-basic-cyan-accent: var(--cyan-500);
      --bg-basic-cyan-strong: var(--cyan-400);
      --bg-basic-cyan-contrast: var(--cyan-100);
      --bg-basic-sky-subtle: var(--sky-900);
      --bg-basic-sky-accent: var(--sky-500);
      --bg-basic-sky-strong: var(--sky-400);
      --bg-basic-sky-contrast: var(--sky-100);
      --bg-basic-blue-subtle: var(--blue-900);
      --bg-basic-blue-accent: var(--blue-500);
      --bg-basic-blue-strong: var(--blue-400);
      --bg-basic-blue-contrast: var(--blue-100);
      --bg-basic-indigo-subtle: var(--indigo-900);
      --bg-basic-indigo-accent: var(--indigo-500);
      --bg-basic-indigo-strong: var(--indigo-400);
      --bg-basic-indigo-contrast: var(--indigo-100);
      --bg-basic-violet-subtle: var(--violet-900);
      --bg-basic-violet-accent: var(--violet-500);
      --bg-basic-violet-strong: var(--violet-400);
      --bg-basic-violet-contrast: var(--violet-100);
      --bg-basic-purple-subtle: var(--purple-900);
      --bg-basic-purple-accent: var(--purple-500);
      --bg-basic-purple-strong: var(--purple-400);
      --bg-basic-purple-contrast: var(--purple-100);
      --bg-basic-fuchsia-subtle: var(--fuchsia-900);
      --bg-basic-fuchsia-accent: var(--fuchsia-500);
      --bg-basic-fuchsia-strong: var(--fuchsia-400);
      --bg-basic-fuchsia-contrast: var(--fuchsia-100);
      --bg-basic-pink-subtle: var(--pink-900);
      --bg-basic-pink-accent: var(--pink-500);
      --bg-basic-pink-strong: var(--pink-400);
      --bg-basic-pink-contrast: var(--pink-100);
      --bg-basic-rose-subtle: var(--rose-900);
      --bg-basic-rose-accent: var(--rose-500);
      --bg-basic-rose-strong: var(--rose-400);
      --bg-basic-rose-contrast: var(--rose-100);
      --bg-basic-gray-alpha-2: var(--transparent-light-4);
      --bg-basic-gray-alpha-4: var(--transparent-light-8);
      --bg-basic-gray-alpha-10: var(--transparent-light-15);
      --bg-basic-gray-alpha-15: var(--transparent-light-20);
      --bg-switch-default-hover: var(--zinc-500);
      --bg-switch-disabled: var(--zinc-300);
      --bg-switch-default2: var(--zinc-00);
      --bg-switch-active: var(--green-500);
      --bg-switch-active-hover: var(--green-400);
      --bg-switch-active-disabled: var(--green-200);
      --bg-switch-handle: var(--zinc-00);
      --bg-switch-handle-disabled: var(--zinc-50);
      --bg-checkbox-active: var(--blue-500);
      --bg-checkbox-active-hover: var(--blue-400);
      --bg-checkbox-disabled: var(--transparent-light-6);
    }
  }
}
