:root {
  --zinc-00: #ffffff;
  --zinc-50: #fafafa;
  --zinc-100: #f4f4f5;
  --zinc-200: #e9e9eb;
  --zinc-300: #d9d9dd;
  --zinc-400: #a1a1a9;
  --zinc-500: #6e6e76;
  --zinc-600: #4d4d55;
  --zinc-700: #35353a;
  --zinc-800: #222225;
  --zinc-900: #18181a;
  --stone-00: #ffffff;
  --zinc-950: #111115;
  --stone-50: #f9faf9;
  --neutral-00: #ffffff;
  --neutral-50: #fafafa;
  --neutral-100: #f5f5f5;
  --neutral-200: #eaeaea;
  --neutral-300: #d8d8d8;
  --neutral-400: #a3a3a3;
  --neutral-500: #737373;
  --neutral-600: #525252;
  --neutral-700: #3d3d3d;
  --neutral-800: #212121;
  --neutral-900: #191919;
  --neutral-950: #111111;
  --neutral-1000: #0a0a0a;
  --gray-00: #ffffff;
  --gray-50: #f9fafb;
  --gray-100: #f3f4f6;
  --gray-200: #ebebef;
  --gray-300: #d7d9df;
  --gray-400: #9ea3ae;
  --slate-00: #ffffff;
  --gray-500: #6d727f;
  --gray-600: #4d5562;
  --gray-700: #353c4a;
  --gray-800: #1a1f27;
  --gray-900: #14171e;
  --gray-950: #0c0f17;
  --gray-1000: #07080d;
  --slate-50: #f9fafc;
  --slate-100: #f2f5f9;
  --slate-200: #e8ecf2;
  --slate-300: #d2d9e3;
  --slate-400: #97a3b6;
  --slate-500: #677489;
  --slate-600: #4a5567;
  --slate-700: #364154;
  --slate-800: #20293a;
  --slate-900: #101522;
  --slate-950: #080b1a;
  --slate-1000: #030616;
  --stone-100: #f5f5f4;
  --stone-200: #e7e4e3;
  --stone-300: #d6d3d0;
  --stone-400: #a69f9b;
  --stone-500: #78706b;
  --stone-600: #57524d;
  --stone-700: #443f3b;
  --stone-800: #312b2a;
  --stone-900: #24201d;
  --stone-950: #14110f;
  --stone-1000: #0b0a09;
  --red-50: #fcf3f3;
  --red-100: #fae3e3;
  --red-200: #f7cccb;
  --red-300: #f4a6a5;
  --red-400: #ed6563;
  --red-500: #e74341;
  --red-600: #d42422;
  --red-700: #b11e1b;
  --red-800: #911f1c;
  --red-900: #77221f;
  --red-950: #400e0b;
  --orange-50: #fef8ee;
  --orange-100: #fceed7;
  --orange-200: #f9d8ae;
  --orange-300: #f7bb77;
  --orange-400: #f38f36;
  --orange-500: #f27313;
  --orange-600: #e35706;
  --orange-700: #a63b0b;
  --orange-800: #6f280f;
  --orange-900: #441b0d;
  --orange-950: #301007;
  --amber-50: #fffbec;
  --amber-100: #fdf4cb;
  --amber-200: #fae792;
  --amber-300: #f9d455;
  --amber-400: #f5bd1e;
  --amber-500: #f09e0f;
  --amber-600: #d37709;
  --amber-700: #ae540d;
  --amber-800: #8c4212;
  --amber-900: #723715;
  --amber-950: #411c07;
  --yellow-50: #fefcea;
  --yellow-100: #fef9c8;
  --yellow-200: #fcf194;
  --yellow-300: #fbe152;
  --yellow-400: #f5ca0f;
  --yellow-500: #e7b413;
  --yellow-600: #c68b0b;
  --yellow-700: #9d630e;
  --yellow-800: #814e13;
  --yellow-900: #6c4118;
  --yellow-950: #3e220b;
  --lime-50: #f9fee9;
  --green-50: #f3fdf5;
  --green-100: #e2fbe8;
  --green-200: #c6f6d2;
  --green-300: #99efae;
  --green-400: #66dc7e;
  --green-500: #4fc660;
  --green-600: #3ea44b;
  --green-700: #33803f;
  --green-800: #2b6536;
  --green-900: #265330;
  --green-950: #112d18;
  --lime-100: #effccf;
  --lime-200: #dff9a4;
  --lime-300: #c7f26c;
  --lime-400: #abe435;
  --lime-500: #90cd22;
  --lime-600: #6fa417;
  --lime-700: #557c18;
  --lime-800: #456219;
  --lime-900: #3c531b;
  --lime-950: #1e2e0a;
  --emerald-50: #effdf6;
  --emerald-100: #d9f9e6;
  --emerald-200: #b6f2d2;
  --emerald-300: #86e7b8;
  --emerald-400: #56d197;
  --emerald-500: #44ba82;
  --emerald-600: #35966a;
  --emerald-700: #2a7858;
  --emerald-800: #235f47;
  --emerald-900: #1e4e3c;
  --emerald-950: #0e2c22;
  --teal-50: #f3fdfa;
  --teal-100: #d5faf2;
  --teal-200: #adf4e5;
  --teal-300: #7ce9d5;
  --teal-400: #53d2be;
  --teal-500: #44b8a7;
  --teal-600: #359489;
  --teal-700: #2d766f;
  --teal-800: #255e5a;
  --teal-900: #234e4a;
  --teal-950: #112e2e;
  --cyan-50: #effeff;
  --cyan-100: #d7f9fd;
  --cyan-200: #b5f2fb;
  --cyan-300: #81e7fa;
  --cyan-400: #4ad0ef;
  --cyan-500: #3eb5d7;
  --cyan-600: #3090b5;
  --cyan-700: #297392;
  --cyan-800: #275d76;
  --cyan-900: #244d62;
  --cyan-950: #143243;
  --sky-50: #f2f9ff;
  --sky-100: #e3f2fd;
  --sky-200: #c2e5fc;
  --sky-300: #8cd2fd;
  --sky-400: #4db9fa;
  --sky-500: #37a3ee;
  --sky-600: #2982cb;
  --sky-700: #2067a4;
  --sky-800: #1e5886;
  --sky-900: #1d496e;
  --sky-950: #122e48;
  --blue-50: #f0f6fe;
  --blue-100: #deeafd;
  --blue-200: #c4dafc;
  --blue-300: #9ac4fe;
  --blue-400: #65a0fd;
  --blue-500: #437dfc;
  --blue-600: #2b5df3;
  --blue-700: #2147dd;
  --blue-800: #213bb2;
  --blue-900: #223889;
  --blue-950: #192453;
  --indigo-50: #eff2fe;
  --indigo-100: #e1e7fd;
  --indigo-200: #c9d2fc;
  --indigo-300: #a6b3fd;
  --indigo-400: #7e86fb;
  --indigo-500: #6060f8;
  --indigo-600: #4b3bed;
  --indigo-700: #3f2fcf;
  --indigo-800: #352aa5;
  --indigo-900: #302c81;
  --indigo-950: #1d1a4a;
  --violet-50: #f5f3fe;
  --violet-100: #ece9fd;
  --violet-200: #dcd6fc;
  --violet-300: #beaffc;
  --violet-400: #a185fd;
  --violet-500: #8655fd;
  --violet-600: #762bf5;
  --violet-700: #6717de;
  --violet-800: #5517b9;
  --violet-900: #471b94;
  --violet-950: #2b0f64;
  --purple-50: #f9f5fe;
  --purple-100: #f1e8fd;
  --purple-200: #e6d5fd;
  --purple-300: #cda9fd;
  --purple-400: #b87efe;
  --purple-500: #a14efd;
  --purple-600: #8c22f1;
  --purple-700: #7712d2;
  --purple-800: #651baa;
  --purple-900: #521b86;
  --purple-950: #360962;
  --fuchsia-50: #fbf5fe;
  --fuchsia-100: #f7e9fe;
  --fuchsia-200: #f0d1fc;
  --fuchsia-300: #e59cfb;
  --fuchsia-400: #dd72fa;
  --fuchsia-500: #cf3ff3;
  --fuchsia-600: #b716d7;
  --fuchsia-700: #9a15b1;
  --fuchsia-800: #7e188f;
  --fuchsia-900: #691d74;
  --fuchsia-950: #44084d;
  --pink-50: #fbf3f8;
  --pink-100: #f9e8f3;
  --pink-200: #f5d0e7;
  --pink-300: #ef9ecd;
  --pink-400: #ea6eb3;
  --pink-500: #e34798;
  --pink-600: #d32475;
  --pink-700: #b61a5c;
  --pink-800: #951b4c;
  --pink-900: #7b1e43;
  --pink-950: #4a0c24;
  --rose-50: #fdf2f2;
  --transparent-dark-00: #27272a00;
  --transparent-dark-2: #27272a05;
  --transparent-dark-4: #27272a0a;
  --transparent-dark-6: #27272a0f;
  --transparent-dark-8: #27272a14;
  --transparent-dark-10: #27272a19;
  --transparent-dark-15: #27272a26;
  --transparent-dark-20: #27272a33;
  --transparent-dark-25: #27272a3f;
  --transparent-dark-30: #27272a4c;
  --transparent-dark-35: #27272a59;
  --transparent-dark-40: #27272a66;
  --transparent-dark-45: #09090b72;
  --transparent-dark-50: #09090b7f;
  --transparent-dark-55: #09090b8c;
  --transparent-dark-60: #09090b99;
  --transparent-dark-65: #09090ba5;
  --transparent-dark-70: #09090bb2;
  --transparent-dark-75: #09090bbf;
  --transparent-dark-80: #09090bcc;
  --transparent-dark-85: #09090bd8;
  --transparent-dark-90: #09090be5;
  --transparent-light-00: #ffffff00;
  --transparent-light-2: #ffffff05;
  --transparent-light-4: #ffffff0a;
  --transparent-light-6: #ffffff0f;
  --transparent-light-8: #ffffff14;
  --transparent-light-10: #ffffff19;
  --transparent-light-15: #ffffff26;
  --transparent-light-20: #ffffff33;
  --transparent-light-25: #ffffff3f;
  --transparent-light-30: #ffffff4c;
  --transparent-light-35: #ffffff59;
  --transparent-light-40: #ffffff66;
  --transparent-light-45: #ffffff72;
  --transparent-light-50: #ffffff7f;
  --transparent-light-55: #ffffff8c;
  --transparent-light-60: #ffffff99;
  --transparent-light-65: #ffffffa5;
  --transparent-light-70: #ffffffb2;
  --transparent-light-75: #ffffffbf;
  --transparent-light-80: #ffffffcc;
  --transparent-light-85: #ffffffd8;
  --transparent-light-90: #ffffffe5;
  --transparent-red-10: #ee6e6c19;
  --transparent-red-20: #ee6e6c33;
  --transparent-red-30: #ee6e6c4c;
  --transparent-red-40: #ee6e6c66;
  --transparent-red-50: #ee6e6c7f;
  --transparent-red-60: #ee6e6c99;
  --transparent-red-70: #ee6e6cb2;
  --transparent-red-80: #ee6e6ccc;
  --transparent-red-90: #ee6e6ce5;
  --transparent-orange-10: #f38f3619;
  --transparent-orange-20: #f38f3633;
  --transparent-orange-30: #f38f364c;
  --transparent-orange-40: #f38f3666;
  --transparent-orange-50: #f38f367f;
  --transparent-orange-60: #f38f3699;
  --transparent-orange-70: #f38f36b2;
  --transparent-orange-80: #f38f36cc;
  --transparent-orange-90: #f38f36e5;
  --transparent-amber-10: #f5bd1e19;
  --transparent-amber-20: #f5bd1e33;
  --transparent-amber-30: #f5bd1e4c;
  --transparent-amber-40: #f5bd1e66;
  --transparent-amber-50: #f5bd1e7f;
  --transparent-amber-60: #f5bd1e99;
  --transparent-amber-70: #f5bd1eb2;
  --transparent-amber-80: #f5bd1ecc;
  --transparent-amber-90: #f5bd1ee5;
  --transparent-yellow-10: #f5ca0f19;
  --transparent-yellow-20: #f5ca0f33;
  --transparent-yellow-30: #f5ca0f4c;
  --transparent-yellow-40: #f5ca0f66;
  --transparent-yellow-50: #f5ca0f7f;
  --transparent-yellow-60: #f5ca0f99;
  --transparent-yellow-70: #f5ca0fb2;
  --transparent-yellow-80: #f5ca0fcc;
  --transparent-yellow-90: #f5ca0fe5;
  --transparent-lime-10: #abe43519;
  --transparent-lime-20: #abe43533;
  --transparent-lime-30: #abe4354c;
  --transparent-lime-40: #abe43566;
  --transparent-lime-50: #abe4357f;
  --transparent-lime-60: #abe43599;
  --transparent-lime-70: #abe435b2;
  --transparent-lime-80: #abe435cc;
  --transparent-lime-90: #abe435e5;
  --transparent-green-10: #66dc7e19;
  --transparent-green-20: #66dc7e33;
  --transparent-green-30: #66dc7e4c;
  --transparent-green-40: #66dc7e66;
  --transparent-green-50: #66dc7e7f;
  --transparent-green-60: #66dc7e99;
  --transparent-green-70: #66dc7eb2;
  --transparent-green-80: #66dc7ecc;
  --transparent-green-90: #66dc7ee5;
  --transparent-emerald-10: #56d19719;
  --transparent-emerald-20: #56d19733;
  --transparent-emerald-30: #56d1974c;
  --transparent-emerald-40: #56d19766;
  --transparent-emerald-50: #56d1977f;
  --transparent-emerald-60: #56d19799;
  --transparent-emerald-70: #56d197b2;
  --transparent-emerald-80: #56d197cc;
  --transparent-emerald-90: #56d197e5;
  --transparent-teal-10: #53d2be19;
  --transparent-teal-20: #53d2be33;
  --transparent-teal-30: #53d2be4c;
  --transparent-teal-40: #53d2be66;
  --transparent-teal-50: #53d2be7f;
  --transparent-teal-60: #53d2be99;
  --transparent-teal-70: #53d2beb2;
  --transparent-teal-80: #53d2becc;
  --transparent-teal-90: #53d2bee5;
  --transparent-cyan-10: #4ad0ef19;
  --transparent-cyan-20: #4ad0ef33;
  --transparent-cyan-30: #4ad0ef4c;
  --transparent-cyan-40: #4ad0ef66;
  --transparent-cyan-50: #4ad0ef7f;
  --transparent-cyan-60: #4ad0ef99;
  --transparent-cyan-70: #4ad0efb2;
  --transparent-cyan-80: #4ad0efcc;
  --transparent-cyan-90: #4ad0efe5;
  --transparent-sky-10: #4db9fa19;
  --transparent-sky-20: #4db9fa33;
  --transparent-sky-30: #4db9fa4c;
  --transparent-sky-40: #4db9fa66;
  --transparent-sky-50: #4db9fa7f;
  --transparent-sky-60: #4db9fa99;
  --transparent-sky-70: #4db9fab2;
  --transparent-sky-80: #4db9facc;
  --transparent-sky-90: #4db9fae5;
  --transparent-blue-10: #65a0fd19;
  --transparent-blue-20: #65a0fd33;
  --transparent-blue-30: #65a0fd4c;
  --transparent-blue-40: #65a0fd66;
  --transparent-blue-50: #65a0fd7f;
  --transparent-blue-60: #65a0fd99;
  --transparent-blue-70: #65a0fdb2;
  --transparent-blue-80: #65a0fdcc;
  --transparent-blue-90: #65a0fde5;
  --transparent-indigo-10: #7e86fb19;
  --transparent-indigo-20: #7e86fb33;
  --transparent-indigo-30: #7e86fb4c;
  --transparent-indigo-40: #7e86fb66;
  --transparent-indigo-50: #7e86fb7f;
  --transparent-indigo-60: #7e86fb99;
  --transparent-indigo-70: #7e86fbb2;
  --transparent-indigo-80: #7e86fbcc;
  --transparent-indigo-90: #7e86fbe5;
  --transparent-violet-10: #a185fd19;
  --transparent-violet-20: #a185fd33;
  --transparent-violet-30: #a185fd4c;
  --transparent-violet-40: #a185fd66;
  --transparent-violet-50: #a185fd7f;
  --transparent-violet-60: #a185fd99;
  --transparent-violet-70: #a185fdb2;
  --transparent-violet-80: #a185fdcc;
  --transparent-violet-90: #a185fde5;
  --transparent-purple-10: #b87efe19;
  --transparent-purple-20: #b87efe33;
  --transparent-purple-30: #b87efe4c;
  --transparent-purple-40: #b87efe66;
  --transparent-purple-50: #b87efe7f;
  --transparent-purple-60: #b87efe99;
  --transparent-purple-70: #b87efeb2;
  --transparent-purple-80: #b87efecc;
  --transparent-purple-90: #b87efee5;
  --transparent-fuchsia-10: #dd72fa19;
  --transparent-fuchsia-20: #dd72fa33;
  --transparent-fuchsia-30: #dd72fa4c;
  --transparent-fuchsia-40: #dd72fa66;
  --transparent-fuchsia-50: #dd72fa7f;
  --transparent-fuchsia-60: #dd72fa99;
  --transparent-fuchsia-70: #dd72fab2;
  --transparent-fuchsia-80: #dd72facc;
  --transparent-fuchsia-90: #dd72fae5;
  --transparent-pink-10: #ea6eb319;
  --transparent-pink-20: #ea6eb333;
  --transparent-pink-30: #ea6eb34c;
  --transparent-pink-40: #ea6eb366;
  --transparent-pink-50: #ea6eb37f;
  --transparent-pink-60: #ea6eb399;
  --transparent-pink-70: #ea6eb3b2;
  --transparent-pink-80: #ea6eb3cc;
  --transparent-pink-90: #ea6eb3e5;
  --transparent-rose-10: #f16e8119;
  --transparent-rose-20: #f16e8133;
  --transparent-rose-30: #f16e814c;
  --transparent-rose-40: #f16e8166;
  --transparent-rose-50: #f16e817f;
  --transparent-rose-60: #f16e8199;
  --transparent-rose-70: #f16e81b2;
  --transparent-rose-80: #f16e81cc;
  --transparent-rose-90: #f16e81e5;
  --rose-100: #fbe5e6;
  --rose-200: #f7ced3;
  --rose-300: #f49ea9;
  --rose-400: #f16e81;
  --rose-500: #eb3e5b;
  --rose-600: #d91a45;
  --rose-700: #b6133a;
  --rose-800: #971838;
  --rose-900: #7f1b37;
  --rose-950: #460a19;
  --zinc-1000: #09090b;
}
